.dancing-robot {
  margin-top: -185px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white; /* Updated background color */
  height: 100vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(0, 30, 255);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(128, 255, 0, 0.3);
}

.body {
  font-family: "Raleway", sans-serif;
  background: #f4f6f8;
  min-height: 100vh;
}

input,
input:active,
input:focus,
button {
  outline: none;
}

button {
  border: none;
}

/* api  */
.apiApp {
  width: 100%;
  height: 100%;
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.addPost {
  display: flex;
  gap: 15px;
  width: 600px;
  justify-content: center;
  bottom: 10px;
  margin-bottom: 50px;
}

.addPost textarea {
  height: 150px;
}

.addPost input,
.addPost textarea {
  padding-left: 20px;
  width: 600px;
  border: 2px solid #124863;
  border-radius: 5px;
  font-family: monospace;
}

ul.chatContainer {
  margin: 50px !important;
  height: 400px; /* Updated height for the chat container */
  width: 10%; /* Updated width for the chat container */
  display: flex;
  background: linear-gradient(rgb(255, 0, 0), rgb(255, 247, 0)) padding-box, linear-gradient(to right, #ff0000c4, rgb(0, 0, 255)) border-box;
  border-radius: 15px;
  padding: 0 !important;
  border: 4px solid transparent;
}


button:disabled {
  opacity: 0.3;
}

.sendBtn {
  background-color: rgb(1, 190, 1);
  height: 40px;
  width: 100px;
  margin-left: 10px;
  color: white;
  border-radius: 6px;
  font-family: monospace;
}

.user {
  text-align: right;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  border-radius: 17px;
  border-bottom-right-radius: 2px;
}

.assistant {
  text-align: left;
  background-color: #ff9a8b;
  background-image: linear-gradient(90.deg, #fc8371 0%, #ff8ea5f1 55%, #ff7e96 100%);
  border-radius: 17px;
  border-top-left-radius: 2px;
}

/* Gradient animation */
body {
  background: linear-gradient(to right, red, blue, green, yellow);
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
  }
  
  @-webkit-keyframes Gradient {
  0% {
  background-position: 0% 50%;
  }
  50% {
  background-position: 100% 50%;
  }
  100% {
  background-position: 0% 50%;
  }
  }
  
  @-moz-keyframes Gradient {
  0% {
  background-position: 0% 50%;
  }
  50% {
  background-position: 100% 50%;
  }
  100% {
  background-position: 0% 50%;
  }
  }
  
  @keyframes Gradient {
  0% {
  background-position: 0% 50%;
  }
  50% {
  background-position: 100% 50%;
  }
  100% {
  background-position: 0% 50%;
  }
  }
  
  
  body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white; /* Updated background color */
  height: 100vh;
  background: linear-gradient(to right, red, blue, green, yellow);
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
  }
  
  @-webkit-keyframes Gradient {
  0% {
  background-position: 0% 50%;
  }
  50% {
  background-position: 100% 50%;
  }
  100% {
  background-position: 0% 50%;
  }
  }
  
  @-moz-keyframes Gradient {
  0% {
  background-position: 0% 50%;
  }
  50% {
  background-position: 100% 50%;
  }
  100% {
  background-position: 0% 50%;
  }
  }
  
  @keyframes Gradient {
  0% {
  background-position: 0% 50%;
  }
  50% {
  background-position: 100% 50%;
  }
  100% {
  background-position: 0% 50%;
  }
  }

.chatStyle,
.typing {
  padding: 10px;
  color: white;
  margin-top: 20px;
  max-width: 70%;
  text-align: left;
}

.typing {
  display: flex;
  align-items: center;
  height: 23px;
}

.chatSec {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border-radius: 15px;
  padding: 15px;
  background: #ece8fb7d;
  background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3);
  background: linear-gradient(to right, #faecebcf, #edeaf8f2);
}

.chatCont {
  display: flex;
}

.chatContUser {
  display: flex;
  justify-content: flex-end;
}

.typing .dot {
  animation: mercuryTypingAnimatio 1.8s infinite ease-in-out;
  background-color: #ffffff;
  border-radius: 50%;
  height: 10px;
  margin-right: 4px;
  vertical-align: middle;
  width: 10px;
  display: inline-block;
}

.typing .dot:nth-child(1) {
  animation-delay: 200ms;
}

.typing .dot:nth-child(2) {
  animation-delay: 300ms;
}

.typing .dot:nth-child(3) {
  animation-delay: 400ms;
}

.typing .dot:last-child {
  margin-right: 0;
}

@keyframes mercuryTypingAnimatio {
  0% {
    transform: translateY(0px);
  }
  28% {
    transform: translateY(-7px);
  }
  44% {
    transform: translateY(0px);
  }
}

@media (max-width: 768px) {
  ul.chatContainer {
    height: 68vh;
    width: 90%;
  }
}
  ul.chatContainer {
    height: 68vh;
    width: 90%;
  }
  .addPost input {
    padding-left: 10px;
    width: 230px;
  }
  .showAvatarSec {
    margin-top: -10px;
  }
  .chatStyle,
  .typing {
    margin-top: 10px;
  }
  .sendBtn {
    width: 90px;
  }

