/* Styles for the main app container */
.apiApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Styles for the chat container */
.chatContainer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow-y: scroll;
  height: 300px;
}

/* Styles for the chat section */
.chatSec {
  padding: 10px;
}

/* Styles for the chat */
.chat {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

/* Styles for user chat container */
.chatCont {
  background-color: #f1f0f0;
  border-radius: 5px;
  padding: 10px;
}

/* Styles for assistant chat container */
.chatContUser {
  background-color: #b2d7ff;
  border-radius: 5px;
  padding: 10px;
}

/* Styles for user chat text */
.user.chatStyle {
  margin: 0;
  color: #000;
}

/* Styles for assistant chat text */
.assistant.chatStyle {
  margin: 0;
  color: #000;
}

/* Styles for assistant typing animation */
.assistant.typing {
  display: flex;
  align-items: center;
}

/* Styles for dot in typing animation */
.dot {
  background-color: #bbb;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-right: 4px;
}

/* Styles for add post container */
.addPost {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* Styles for input field */
.addPost input[type="text"] {
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
