.dancing-robot {
  position: absolute;
  bottom: -85px;
  left: -1;
  width: 200px;
  height: 200px;
 
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.chatContainer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 600px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f5f8fa;
}

::-webkit-scrollbar-thumb {
  background-color: #1da1f2;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0c8bd6;
}

::-webkit-scrollbar-thumb:active {
  background-color: #086c9f;
}

::-webkit-scrollbar-corner {
  background-color: #f5f8fa;
}

::-webkit-scrollbar-thumb:vertical {
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #0c8bd6;
}

::-webkit-scrollbar-thumb:vertical:active {
  background-color: #086c9f;
}

::-webkit-scrollbar-thumb:horizontal {
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #0c8bd6;
}

::-webkit-scrollbar-thumb:horizontal:active {
  background-color: #086c9f;
}


input,
input:active,
input:focus,
button {
  outline: none;
}

button {
  border: none;
}

.apiApp {
  width: 100%;
  height: 100%;
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.addPost {
  display: flex;
  gap: 15px;
  width: 600px;
  justify-content: center;
  bottom: 10px;
  margin-bottom: 50px;
}

.addPost textarea {
  height: 150px;
}

.addPost input,
.addPost textarea {
  padding-left: 20px;
  width: 600px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  font-family: monospace;
}

.chatStyle,
.typing {
  padding: 10px;
  color: white;
  margin-top: 20px;
  max-width: 70%;
  text-align: left;
}

.typing {
  display: flex;
  align-items: center;
  height: 23px;
}

.chatSec {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border-radius: 15px;
  padding: 15px;
  background: #ffffff;
}

.chatCont {
  display: flex;
}

.chatContUser {
  display: flex;
  justify-content: flex-end;
}

.typing .dot {
  animation: mercuryTypingAnimatio 1.8s infinite ease-in-out;
  background-color: #ffffff;
  /* background-color: #6cad96; */
  border-radius: 50%;
  height: 10px;
  margin-right: 4px;
  vertical-align: middle;
  width: 10px;
  display: inline-block;
}
.typing .dot:nth-child(1) {
  animation-delay: 200ms;
}
.typing .dot:nth-child(2) {
  animation-delay: 300ms;
}
.typing .dot:nth-child(3) {
  animation-delay: 400ms;
}
.typing .dot:last-child {
  margin-right: 0;
}

@keyframes mercuryTypingAnimatio {
  0% {
    transform: translateY(0px);
    /* background-color: #6cad96; */
  }
  28% {
    transform: translateY(-7px);
    /* background-color: #9ecab9; */
  }
  44% {
    transform: translateY(0px);
    /* background-color: #b5d9cb; */
  }
}
  
  ul.chatContainer {
  height: 68vh;
  width: 100%;
  background: #ffffff;
  }
  
  .addPost input {
  padding-left: 10px;
  width: 230px;
  }
  
  .showAvatarSec {
  margin-top: -10px;
  }
  
  .chatStyle,
  .typing {
  margin-top: 10px;
  }
  
  .sendBtn {
  width: 90px;
  }
  
  button:disabled {
  opacity: 0.3;
  }
  
  .sendBtn {
  background-color: rgb(1, 190, 1);
  height: 40px;
  width: 100px;
  margin-left: 10px;
  color: white;
  border-radius: 6px;
  font-family: monospace;
  }
  
  .user {
  text-align: right;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  border-radius: 17px;
  border-bottom-right-radius: 2px;
  }
  
  .assistant {
  text-align: left;
  background-color: #ff9a8b;
  background-image: linear-gradient(90.deg, #fc8371 0%, #ff8ea5f1 55%, #ff7e96 100%);
  border-radius: 17px;
  border-top-left-radius: 2px;
  }
  
  /* Gradient animation */
  .body {
  background-color: #ffffff;
  }
  
  body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  height: 100vh;
  }
  
  @media only screen and (max-width: 480px) {
  .chatbot {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
  }
  }
  
  @media only screen and (min-width: 480px) and (max-width: 768px) {
  .chatbot {
  width: 90%;
  height: 80%;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
  }
  }
  
  @media only screen and (min-width: 768px) {
  .chatbot {
  width: 400px;
  height: 500px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin: 0;
  }
  }